@use "sass:color"
@use "reset"
@use "animation"

@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap')

// hex colors
$high-hex-color: rgb(234, 179, 101)
$medium-hex-color: rgb(146, 240, 117)
$low-hex-color: rgb(77, 210, 199)

// interface colors
$primary-color: rgb(27, 30, 32)
$secondary-color: rgb(254, 255, 221)

// spacing
$spacing-small: 0.5rem
$spacing-medium: 1rem
$spacing-large: 2rem

// animation timing
$player-move-duration: var(--player-move-duration)
$hex-fall-duration: var(--fall-duration)

// pattern by https://www.svgbackgrounds.com/
$wave-pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Crect fill='%23ff9d00' width='1600' height='800'/%3E%3Cg stroke='%23A2A241' stroke-width='53.2' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f99519' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f48e25' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ee862f' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e87e36' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23e2773d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23dc6f42' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23d66747' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23d05f4c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23ca5750' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c44f54' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23be4758' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23b83f5c' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23b1365f' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23ab2c63' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23a42266' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%239d1569' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2396006C' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E")
// STYLES
body
    background: $secondary-color

main
    height: 100vh
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    font-family: Arial, Helvetica, sans-serif
    color: $primary-color
    position: relative

svg
    width: 100%
    height: 100%
    shape-rendering: geometricPrecision

.camera
    transition: transform $player-move-duration ease-in-out

.entity
    transition: transform $player-move-duration ease-in-out

    .content
        filter: saturate(80%) sepia(30%)
        font-size: 0.5rem
        text-anchor: middle
        cursor: pointer
        user-select: none

    &.moving .player-animation
        animation: jump $player-move-duration ease
    &.blocked .player-animation
        animation: shake 200ms ease infinite

.entity-interactions
    opacity: 0
    animation: fall 500ms 300ms forwards
    background: $primary-color
    color: $secondary-color
    border: none
    border-radius: 1rem
    display: flex
    flex-direction: column
    gap: $spacing-large
    padding: $spacing-large

    h1
        font-family: 'Chango', sans-serif
        background-image: $wave-pattern
        background-size: cover
        background-clip: text
        -webkit-background-clip: text
        color: transparent
        font-size: 4rem

.modal-container
    opacity: 0
    pointer-events: none
    animation: fade 500ms $player-move-duration forwards
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.7)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .modal-content
        height: 0rem
        opacity: 0
        animation: expand 500ms calc($player-move-duration + 200ms) forwards
        max-width: 20rem
        overflow: hidden
        display: flex
        flex-direction: column
        background: $primary-color
        color: $secondary-color
        border-radius: 1rem
        gap: $spacing-large
        padding: $spacing-large
        text-align: justify
        .entity-header
            text-align: center
            font-family: 'Chango', sans-serif
            background-image: $wave-pattern
            background-size: cover
            background-clip: text
            -webkit-background-clip: text
            color: transparent
            font-size: 4rem
    .entity-icon
        animation: pop 300ms $player-move-duration ease-out
        font-size: 7rem
        line-height: 2rem
        filter: saturate(90%) sepia(20%)
        z-index: 2

@mixin hex($color)
    .face
        fill: $color
        stroke: color.scale($color, $lightness: 50%)
    .column-right
        stroke: color.scale($color, $lightness: 40%)
        fill: color.scale($color, $lightness: 40%)
    .column-middle
        stroke: color.scale($color, $lightness: 50%)
        fill: color.scale($color, $lightness: 50%)
    .column-left
        stroke: color.scale($color, $lightness: 60%)
        fill: color.scale($color, $lightness: 60%)

.hex
    -webkit-tap-highlight-color: transparent
    animation: fall $hex-fall-duration ease forwards
    opacity: 0

    &.selected
        // .entity,.terrain
        //     animation: push-down 400ms ease
        .terrain
            .face
                fill: color.scale($medium-hex-color, $lightness: 30%)
        .entity
            filter: drop-shadow( 0rem 0rem 0.03rem #5afcff)
    &.player
        .entity,.terrain
            animation: push-down 300ms 300ms

.terrain
    .face,.column-segment
        stroke-width: 0.2
        stroke-linejoin: round
        transition: fill 300ms ease

    .column-segment
        paint-order: stroke

    &.high
        @include hex($high-hex-color)
        pointer-events: none
        .face,.column-segment
            transform: translateY(-0.12rem)

    &.medium
        @include hex($medium-hex-color)
        cursor: pointer

    &.low
        @include hex($low-hex-color)
        pointer-events: none
        .face,.column-segment
            transform: translateY(0.09rem)
