@use "sass:color"
$high-hex-color: rgb(234, 179, 101)
$medium-hex-color: rgb(146, 240, 117)
$low-hex-color: rgb(77, 210, 199)

*
    padding: 0
    margin: 0
    box-sizing: border-box

@keyframes fall
    0%
        transform: translateY(-0.5rem)
        opacity: 0
    30%
        opacity: 1
        transform: translateY(0.15rem)
    70%
        transform: translateY(-0.02rem)
    100%
        transform: translateY(0rem)
        opacity: 1

@keyframes jump
    10%
        transform: scaleY(0.8)
    50%
        transform: translateY(-0.3rem) scaleY(1.2)
    80%
        transform: translateY(0rem) scaleY( 0.9)
    100%
        transform: translateY(0rem) scaleY(1)

body
    background: #fffedf

main
    height: 100vh
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    font-family: Arial, Helvetica, sans-serif
    color: #262626

svg
    width: 100%
    height: 100%
    shape-rendering: geometricPrecision

.camera
    transition: transform var(--player-move-duration) ease-in-out

.player
    transition: transform var(--player-move-duration) ease-in-out

    .player-icon
        filter: drop-shadow( 0rem -0.03rem 0rem #384043)
        transform: rotateX(35deg)
        font-size: 0.6rem
        text-anchor: middle
    &.moving .player-animation
        animation: jump var(--player-move-duration) ease

.resource
    transform: rotateX(35deg)
    font-size: 0.6rem
    text-anchor: middle

.highlight
    transition: transform 200ms ease-out

@mixin hex($color)
    .face
        fill: $color
        stroke: color.scale($color, $lightness: 50%)
    .edge0
        stroke: color.scale($color, $lightness: 40%)
        fill: color.scale($color, $lightness: 40%)
    .edge1
        stroke: color.scale($color, $lightness: 50%)
        fill: color.scale($color, $lightness: 50%)
    .edge2
        stroke: color.scale($color, $lightness: 60%)
        fill: color.scale($color, $lightness: 60%)

.hex
    opacity: 0
    transform: translateY(-0.2rem)
    animation: fall var(--fall-duration) ease forwards

    .face,.edge
        stroke-width: 0.4
        transition: transform 200ms ease
        stroke-width: 0.4
        stroke-linejoin: round

    .edge
        paint-order: stroke

    &.high
        @include hex($high-hex-color)
        pointer-events: none
        .face,.edge
            transform: translateY(-0.1rem)

    &.medium
        @include hex($medium-hex-color)
        cursor: pointer
        -webkit-tap-highlight-color: transparent
        &:active
            .face,.edge
                transform: translateY(0.05rem)

    &.low
        @include hex($low-hex-color)
        pointer-events: none
        .face,.edge
            transform: translateY(0.1rem)
