@use "sass:color"
$high-hex-color: rgb(234, 179, 101)
$medium-hex-color: rgb(146, 240, 117)
$low-hex-color: rgb(77, 210, 199)

*
    padding: 0
    margin: 0
    box-sizing: border-box

@keyframes fall
    0%
        transform: translateY(-0.5rem)
        opacity: 0
    30%
        opacity: 1
        transform: translateY(0.15rem)
    70%
        transform: translateY(-0.02rem)
    100%
        transform: translateY(0rem)
        opacity: 1

@keyframes entity-fall
    0%
        transform: translateY(-0.5rem) rotateX(0deg)
        opacity: 0
    30%
        opacity: 1
        transform: translateY(0.15rem) rotateX(35deg) scaleY(0.9)
    70%
        transform: translateY(-0.02rem) rotateX(35deg) scaleY(1.05)
    100%
        transform: translateY(0rem) rotateX(35deg) scaleY(1)
        opacity: 1

@keyframes jump
    10%
        transform: scaleY(0.8)
    50%
        transform: translateY(-0.3rem) scaleY(1.2)
    80%
        transform: translateY(0rem) scaleY( 0.9)
    100%
        transform: translateY(0rem) scaleY(1)

@keyframes shake
    0%
        transform: translateX(0)
    33%
        transform: translateX(-0.2rem)
    66%
        transform: translateX(0.2rem)
    100%
        transform: translateX(0rem)

body
    background: #fffedf

main
    height: 100vh
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    font-family: Arial, Helvetica, sans-serif
    color: #262626

svg
    width: 100%
    height: 100%
    shape-rendering: geometricPrecision

.camera
    transition: transform var(--player-move-duration) ease-in-out

.entity
    transition: transform var(--player-move-duration) ease-in-out

    .content
        filter: drop-shadow( 0rem -0.03rem 0rem #384043) saturate(80%) sepia(30%)
        font-size: 0.5rem
        text-anchor: middle
        cursor: pointer
        user-select: none

    &.moving .player-animation
        animation: jump var(--player-move-duration) ease
    &.blocked .player-animation
        animation: shake 200ms ease infinite

.highlight
    transition: transform 200ms ease-out

.interaction-container
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    width: 100%
    height: 100%

.entity-interactions
    pointer-events: all
    animation: fall 300ms
    padding: 0.1rem
    font-size: 0.15rem
    border-radius: 0.1rem
    text-align: center
    background: rgb(55, 61, 64)
    color: rgb(255, 253, 231)
    button
        font-size: 0.15rem
        padding: 0.1rem
        border-radius: 0.1rem
        border: 0.01rem solid #262626
        outline: none

@mixin hex($color)
    .face
        fill: $color
        stroke: color.scale($color, $lightness: 50%)
    .edge0
        stroke: color.scale($color, $lightness: 40%)
        fill: color.scale($color, $lightness: 40%)
    .edge1
        stroke: color.scale($color, $lightness: 50%)
        fill: color.scale($color, $lightness: 50%)
    .edge2
        stroke: color.scale($color, $lightness: 60%)
        fill: color.scale($color, $lightness: 60%)

.hex
    -webkit-tap-highlight-color: transparent
    animation: fall var(--fall-duration) ease forwards
    opacity: 0

.terrain
    .face,.edge
        stroke-width: 0.4
        stroke-linejoin: round

    .edge
        paint-order: stroke

    &.high
        @include hex($high-hex-color)
        pointer-events: none
        .face,.edge
            transform: translateY(-0.1rem)

    &.medium
        @include hex($medium-hex-color)
        cursor: pointer

    &.low
        @include hex($low-hex-color)
        pointer-events: none
        .face,.edge
            transform: translateY(0.1rem)
